<%- include('./partials/head') -%>
    <title><%= title %></title>
</head>
<body>
    <%- include('./partials/menu') -%>

        <div style="text-align: center;padding-top: 100px;">
            <%- body %>
        </div>
 
    </body>
</html>